{% extends "base.html" %}
{% block content %}
{% for image in images %}
<div class="card mb-4">
    <div class="card-title">
        <img src="{{image.author.profile.image.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
             alt="{{image.author}}" width="50" height="50">
        <a href="{% url 'profile'  %}" class="mt-4 user">{{image.author|title}}</a>
        <small class="text-muted">{{ image.date_posted|date:"F d, Y" }}</small>
    </div>
    <div class="card-body mb-4">
        <a href="{% url 'comment' image.id %}"><div class="card-text"
             style="background-image:url({{ image.image.url }});;background-size: contain;position: sticky">
            <img src="{{image.image.url}}" style="" class="card-img" width="100%"/>
        </div></a>
    </div>
    <div class="iconic ml-2">
        <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
            <a href="{% url 'comment' image.id %}"><i class="far fa-heart hearticon mx-auto"
                                                      aria-hidden="true" style=""></i></a>
        </button>
        <button class="btn btn-sm" type="submit"><a href="{% url 'comment' image.id %}"><i
                class="far fa-comment hearticon mx-auto" aria-hidden="true"></i>
        </a></button>
    </div>
    <span class="ml-4 mb-1"><strong>{{image.likes.count}} like{{image.likes.count|pluralize}}</strong></span>
    <span class="text-secondary ml-4 viewall"><a href="{% url 'comment' image.id %}">view all {{image.comments.count}} comment{{image.comments.count|pluralize}}</a></span>
    <div class="allcomments mb-4">
        {% for comment in image.comments.all|slice:'2' %}
        <div class="comment">
            <div class="ml-4"><strong>{{ comment.author }}</strong> <span
                    class="text-secondary">{{ comment.comment }}</span>
            </div>
        </div>
        {% empty %}
        {% endfor %}
        <p class="text-secondary ml-4">{{image.created|timesince}}</p>
    </div>
</div>
{% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}