{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ image.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"><i class='fas fa-edit'></i>Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"><i class="fa fa-trash" aria-hidden="true"></i><Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ image.caption }}</h2>
      
    </div>
   
  </article>
   

{% endblock content %}